<p id="notice"><%= notice %></p>

<p>
  <strong>Portfolio item:</strong>
  <%= @portfolio_image.portfolio_item_id %>
</p>

<p>
  <strong>Image path:</strong>
  <%= @portfolio_image.image_path %>
</p>

<%= link_to 'Edit', edit_portfolio_image_path(@portfolio_image) %> |
<%= link_to 'Back', portfolio_images_path %>
