<p id="notice"><%= notice %></p>

<div id="main" class="wrapper">
    <div class="container">
        <section class="portfolio-filter section type2">
            <ul class="nav nav-pills">
                <li class="active"><a href="#" data-filter="*">All</a></li>
                <li><a href="#" data-filter=".smallBiz">SmallBiz</a></li>
                <li><a href="#" data-filter=".mediumBiz">MediumBiz</a></li>
                <li><a href="#" data-filter=".largeBiz">LargeBiz</a></li>
                <li><a href="#" data-filter=".forProfit">ForProfit</a></li>
                <li><a href="#" data-filter=".nonProfit">NonProfit</a></li>
                <li><a href="#" data-filter=".personal">Personal</a></li>
                <li><a href="#" data-filter=".technology">Technology</a></li>
                <li><a href="#" data-filter=".retail">Retail</a></li>
                <li><a href="#" data-filter=".product">Product</a></li>
                <li><a href="#" data-filter=".services">Service</a></li>
            </ul>
        </section>
        <!-- /.portfolio-filter -->
        <section class="portfolio section type3">
            <div class="row">
                <div class="portfolio-container">
                  <% @portfolio_items.each do |portfolioItem| %>
                  <div class='col-xs-12 col-sm-6 col-md-4 portfolio-item-wrapper <%= getCategoryValues(portfolioItem) %>'>
                    <div class="portfolio-item type2">
                      <div class="portfolio-thumb">
                      <%= image_tag("#{portfolioItem.primary_image_path}", class:"img-responsive img-thumbnail", alt:"Portfolio Thumb")%>
                        <div class="image-overlay"></div>
                        <%= link_to("<span class='fa fa-eye'></span>".html_safe, asset_path(portfolioItem.primary_image_path), class: "portfolio-zoom", :"data-rel"=> "prettyPhoto") %>
                        <!-- <a href="portfolioItem.primary_image" data-rel="prettyPhoto" class="portfolio-zoom"><i class="fa fa-eye"></i></a> -->
                        <%= link_to("<span class='fa fa-link'></span>".html_safe, portfolio_item_path(portfolioItem.id), class:"portfolio-link")%>
                          <!-- <a href="portfolio-item-1.html" class="portfolio-link"><i class="fa fa-link"></i></a> -->
                      </div>
                      <div class="portfolio-details">
                        <div class="portfolio-meta">
                          <span class="portfolio-date"><i class="fa fa-clock-o"></i> <a href="#">&nbsp;<%=portfolioItem.date%></a></span>
                          <span class="portfolio-likes"><i class="fa fa-heart-o"></i> <a href="#">&nbsp; 17</a></span>
                        </div>
                        <h5 class="portfolio-title"><a href=""><%=portfolioItem.subtitle%></a></h5>
                      </div>
                    </div>
                  </div>
                    <!-- /.portfolio-item-wrapper -->
                  <% end %>
                </div>
                <!-- /.portfolio-container -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.portfolio -->
    </div>
    <!-- /.container -->
</div>
<!-- /#main -->
<script>
// $("div.portfolio-item-wrapper").removeClass().addClass( "col-xs-12 col-sm-6 col-md-4 portfolio-item-wrapper"+ <%#= getCategoryValue(@portfolio_items[0].to_s %> );
</script>
